<%- include('layout/footer') %>
<div class="container">
   <div class="row">
     <div class="col-lg-6 mx-auto mt-4">
        <div class="card shadow">
          <div class="card-header bg-success">
             <h3 class="text-light">Editar Jogador (<%= user.nome %> )</h3>
          </div>
          <div class="card-body p-4">
             <form action="/update/<%= user._id %>" method="post" id="add-form" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="nome">Nome</label>
                  <input type="text" name="nome" value = "<%= user.nome %> "  class="form-control form-control-lg"  placeholder="Nome do Jogador" required />
                </div>
                
                <div class="mb-3">
                  <label for="posicao">Posição</label>
                  <input type="text" name="posicao" value = "<%= user.posicao %> " class="form-control form-control-lg"  placeholder="Digite a posição do jogador" required />
                </div>

                <div class="mb-3">
                    <label for="email">Contato</label>
                    <input type="text" name="email" value = "<%= user.email %> " class="form-control form-control-lg"  placeholder="Email ou telefone" required />
                </div>
                 
                <div class="mb-3">
                    <label for="Telefone">Idade</label>
                    <input type="tel" name="Telefone" value = "<%= user.Telefone %> " class="form-control form-control-lg"  placeholder="Insira a idade" required />
                </div>


                <div class="mb-3">
                    <label for="image" class="form-label">Selecione uma imagem</label>
                    <input type="file" name="image" class="form-control form-control-lg"/>
                    <img src="/<%= user.image  %> " width="100" class="img-thumbnail mt-1">
                </div>
                <input type="hidden" name="old_image" value="<%= user.image  %>">
                 
                  <div class="mb-3 d-grid">
                   
                    <input type="submit" name="submit" value = "Atualizar Jogador" class="btn btn-success btn-lg" />
                  </div>

             </form>
          </div>
        </div>
     </div>
   </div>
</div>